/*
Plugin: Twitch Streamr
Plugin Website: noahshrader.github.io/Twitch-Streamr
Author: Noah Shrader
Author Website: noahshrader.com
*/
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  color: #FFF;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1;
  background: #2C2C2C;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
pre {
  padding: 1.6em 0;
  margin-bottom: 1.8em;
  background: #3F3F3F;
  border-left: solid 6px #6c4d97;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------- *\
-- TYPOGRAPHY / BUTTONS
\* -------------------------------------------------------------------- */
h1, h2, h3, h4, h5 {
  color: #FFF;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}
p {
  color: #AAA;
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1.8em;
}
a {
  color: #6c4d97;
  text-decoration: none;
  transition: linear .1s;
  -moz-transition: linear .1s;
  -webkit-transition: linear .1s;
}
a.btn {
  position: relative;
  display: inline-block;
  color: #FFF;
  font-size: .95em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.2em;
  min-width: 200px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background: #6c4d97;
}
  a.btn:hover {
    background: #7956a9;
  }

/* -------------------------------------------------------------------- *\
-- HEADER
\* -------------------------------------------------------------------- */

/* Main Header */
header.mainHeader {
  position: fixed;
  overflow: hidden;
  text-align: center;
  padding: 10em 4%;
  height: 100%;
  width: 440px;
  background: #6c4d97;
  z-index: 1000;
}
  header.mainHeader img.logo {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 260px;
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -ms-animation-duration:2s;
    -o-animation-duration:2s;
    animation-duration:2s;
  }
  header.mainHeader h4 {
    color: #FFF;
    font-weight: 600;
    margin: .8em auto 1.8em;
    width: 90%;
    max-width: 260px;
  }

/* Secondary Header */
.secHeader {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: .8em 5%;
  background: #FFF;
  width: 100%;
  background: rgba(82,57,116,.6);
}
  .secHeader a.btn {
    display: block;
    margin: .6em 0;
  }
  span.version {
    display: inline-block;
    color: #7F5FAA;
    font-size: .9em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: .4em 0 .9em;
    padding: .9em 1.4em;
    border-radius: 30px;
    -moz-border-radius: 30px;
    background: rgba(82,57,116,.6);
  }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  } 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------------------------------------------------------- *\
-- CONTENT
\* -------------------------------------------------------------------- */

.container {
  position: absolute;
  right: 0;
  left: 440px;
  padding: 5em;
  margin: 0 auto;
}
  section {
    padding: 1.2em 0;
  }

/* -------------------------------------------------------------------- *\
-- DEMO/STREAMS SECTION
\* -------------------------------------------------------------------- */

#streams {
  display: none;
  height: 900px;
  background: #3F3F3F;
}